@import '../palette.scss';


.is-black {
    background: $dark;
    color: $white;
}

.is-dark {
    background: $dark;
    color: $white;
}

.is-white {
    background: $white;
    color: $black;
}

.is-light {
    background: $light;
    color: $black;
}

.is-link {
    background: $link;
    color: $white;
    transition: all 0.5s;
}

.is-error {
    background: $error;
    color: $white;
}

.is-warning {
    background: $warning;
    color: $white;
}

.is-ok {
    background: $ok;
    color: $white;
}

.is-secondary {
    background: $secondary;
    color: $white;
}

.is-tertiary {
    background: $tertiary;
    color: $white;
}


.has-text-black {
    color: $black !important;
}

.has-text-white {
    color: $white !important;
}

.has-text-dark {
    color: $dark !important;
}

.has-text-light {
    color: $light !important;
}

.has-text-link {
    color: $link !important;
}

.has-text-error {
    color: $error !important;
}

.has-text-warning {
    color: $warning !important;
}

.has-text-ok {
    color: $ok !important;
}

.has-text-primary {
    color: $primary !important;
}

.has-text-secondary {
    color: $secondary !important;
}

.has-text-tertiary {
    color: $tertiary !important;
}

.has-background-black {
    background: $black;
}

.has-background-black--faded {
    background: $black--faded;
}

.has-background-white {
    background: $white;
}

.has-background-white--faded {
    background: $white--faded;
}

.has-background-dark {
    background: $dark;
}

.has-background-dark--faded {
    background: $dark--faded;
}

.has-background-light {
    background: $light;
}

.has-background-light--faded {
    background: $light--faded;
}

.has-background-link {
    background: $link;
}

.has-background-error {
    background: $error;
}

.has-background-warning {
    background: $warning;
}

.has-background-ok {
    background: $ok;
}

.has-background-primary {
    background: $primary;
}

.has-background-secondary {
    background: $secondary;
}

.has-background-tertiary {
    background: $tertiary;
}

.has-stroke-primary { stroke: $primary !important; }
.has-stroke-secondary { stroke: $secondary !important; }
.has-stroke-tertiary { stroke: $tertiary !important; }
.has-stroke-dark { stroke: $dark !important; }
.has-stroke-black { stroke: $black !important; }
.has-stroke-light { stroke: $light !important; }
.has-stroke-white { stroke: $white !important; }