@import '../sizes.scss';



.is-bold {
    font-weight: bold;
}

.has-text-xxxsmall { font-size: $xxxsmall * 1.6 !important; }
.has-text-xxsmall { font-size: $xxsmall * 1.6 !important; }
.has-text-xsmall { font-size: $xsmall * 1.6 !important; }
.has-text-small { font-size: $small * 1.6 !important; }
.has-text-medium { font-size: $medium * 1.6 !important; }
.has-text-large { font-size: $large * 1.6 !important; }
.has-text-xlarge { font-size: $xlarge * 1.6 !important; }
.has-text-xxlarge { font-size: $xxlarge * 1.6 !important; }
.has-text-xxxlarge { font-size: $xxxlarge * 1.6 !important; }