@import '../sizes.scss';



// width and height
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.h-320px {
    max-height: 320px;
}


// padding
.p-small {
    padding: $small;
}


// margin
.m-tb--large {
    margin: $large 0;
}

.m-lr--small {
    margin: 0 $small;
}

.has-y-scrollbar {
    overflow-y: scroll;
}


// display
.is-hidden {
    display: none !important;
}


@media all and (max-width: $breakpoint--mobile) {
    .is-mobile {
        flex: 0 1 100%;
    }

    .is-hidden--mobile {
        display: none !important;
    }
}