.is-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.is-vertical {
  display: flex;
  flex-direction: column;
}
.is-auto {
  flex-basis: auto;
}
.is-full-width {
  width: 100%;
}
.is-1 {
  width: 8.33333333%;
}
.is-2 {
  width: 16.66666667%;
}
.is-3 {
  width: 25%;
}
.is-4 {
  width: 33.33333333%;
}
.is-5 {
  width: 41.66666667%;
}
.is-6 {
  width: 50%;
}
.is-7 {
  width: 58.33333333%;
}
.is-8 {
  width: 66.66666667%;
}
.is-9 {
  width: 75%;
}
.is-10 {
  width: 83.33333333%;
}
.is-11 {
  width: 91.66666667%;
}
.is-12 {
  width: 100%;
}
