@import url('https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap');
@import './reset.scss';
@import './sizes.scss';
@import './palette.scss';
@import './fgrid.scss';
@import './grids.scss';
@import './modifiers/index.scss';
@import './elements/index.scss';
@import './components/index.scss';
@import './animations/index.scss';
@import './patterns/index.scss';



* {
    font-family: 'Saira Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    @extend .subtle-prism;
    
    // At this point React App is mounted
    #root {
        width: 100%;
        height: 100%;
    }
}

header {
    width: 100%;
}


main {
    display: flex;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    display: flex;
}

a {
    color: $link;
    text-decoration: none;
    padding: 0 $xxxsmall;
}

hr {
    width: 75%;
    background: $light;
    height: $xxxsmall;
    border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-family: 'Saira Condensed', sans-serif;
    font-size: $small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 5000s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
    width: $xxsmall;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $light;
  }


@media all and (max-width: $breakpoint--mobile) {
    main {
        display: flex;
        width: 100%;
        height: 100%;
    }
}