$black: #000000;
$white: #ffffff;
$dark: #222222;
$dark-light: lighten($dark, 10%);
$dark-dark: darken($dark, 10%);
$light: #dddddd;
$light-dark: darken($light, 10%);
$light-light: lighten($light, 10%);

$white--faded: fade-out($white, 0.5);
$black--faded: fade-out($black, 0.5);
$light--faded: fade-out($light, 0.5);
$dark--faded: fade-out($dark, 0.5);

$link: #467EFD;
$error: #ee2200;
$warning: #ee6600;
$ok: #00ee22;

$link--faded: fade-out($link, 0.5);
$error--faded: fade-out($error, 0.5);
$warning--faded: fade-out($warning, 0.5);
$ok--faded: fade-out($ok, 0.5);

$primary: #3B90FF;
$primary-gradient-0: #00B6FF;
$primary-gradient-1: #00D2F1;
$primary-gradient-2: #00E7BE;
$primary-gradient-3: #8FF48A;
$primary-gradient-4: #F9F871;
$secondary: adjust-hue($primary, 180deg);
$tertiary: adjust-hue($primary, 90deg);



 

 

 

 

 

