@import './constants.scss';



$xxxsmall: 2px;
$xxsmall: $xxxsmall * $multiplier;
$xsmall: $xxsmall * $multiplier;
$small: $xsmall * $multiplier;
$medium: $small * $multiplier;
$large: $medium * $multiplier;
$xlarge: $large * $multiplier;
$xxlarge: $xlarge * $multiplier;
$xxxlarge: $xxlarge * $multiplier;