@import '../palette.scss';
@import '../durations.scss';



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: initial;
    }
}
.does-fade-in { animation: fadeIn $dt-short forwards; }
.does-fade-in--slow { animation: fadeIn $dt-medium forwards; }
.does-fade-in--xslow { animation: fadeIn $dt-long backwards; animation-delay: 0.5s; }
.does-fade-in--fast { animation: fadeIn $dt-short / 2 forwards; }


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px $white;
   }
   100% {
        box-shadow: 0 0 0 2px $white--faded;
   }
}
.does-pulse {
    animation: pulse $dt-medium infinite alternate;
}
.does-pulse--hover {
    &:hover {
        animation: pulse $dt-medium infinite alternate;
    }
}