@import '../palette.scss';
@import '../sizes.scss';
@import '../durations.scss';


.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $dark;

        
        &-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-align: center;
            padding: $small;
            
            .current-month {
                display: flex;
                align-items: center;
                justify-content: center;
                
                p {
                    font-size: $medium;
                    color: $white;
                }
            }
            
            .change-month {
                min-width: 32px;
                min-height: 32px;
                fill: $primary;
                margin: 0 auto;
            }
        }
    }
    
    .days-names {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // background: linear-gradient(to bottom, $dark, $dark-dark);
        background: $dark;
        border-bottom: 2px dashed $dark-light;
        
        .day {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 2rem;
            padding: $small 0;
            color: $white;
        }
    }

    .body {
        background: $dark;
        padding: $small 0;
    

        .days {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background: $dark;

            .day {
                text-align: center;
                width: 100%;
            }

            .cell {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $white;
                width: 32px * 2;
                height: 32px * 2;
                padding: $xsmall;
                font-size: 2rem;
                margin: 8px;
                border-radius: 50%;
                transition: all $dt-xshort;
            }

            .disabled {
                color: $dark-light;
            }

            .selected {
                box-shadow: 0 0 0 4px $primary;
                color: $primary;
                font-size: 3rem;
                transition: all $dt-xshort;
            }

            .current {
                box-shadow: 0 0 0 4px $secondary;
                color: $secondary;
            }
        }
    }
}

@media all and (max-width: $breakpoint--mobile) {
    .calendar {
        width: 100%;

        .header {

            &-bar {
                font-size: 12px;

                .current-month {

                    p {
                        font-size: $small;
                    }
                }
            }
        }

        .days-names {
            .day {
                font-size: $small;
            }
        }
        .body {
            .days {

                .cell {
                    border: none;
                    font-size: $small;
                    width:  10px;
                    height: 10px;
                    margin: 0;
                    border-radius: 50%;
                    box-shadow: none;
                }

                .selected {
                    background: $primary;
                    color: $white;
                }
                .current {
                    background: $secondary;
                    color: $white;
                }
            }
        }
    }
}
