@import '../sizes.scss';
@import '../palette.scss';


.card {
    display: flex;
    background: $dark;
    justify-items: center;
    align-items: center;
    // padding: $small 0;
    color: $white;

    &--horizontal {
        grid-template-rows: 1fr 1fr;

    }
}

.stripe {
    display: flex;
    background: $dark-light;
    justify-content: space-evenly;
    align-items: center;
    padding: $small 0;
    width: 100%;
    color: $white;
}