@import '../palette.scss';
@import '../sizes.scss';



.chart {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;
        max-width: 600px;

        .axis {
            color: $black;
        }

        .tick {
            stroke-width: 0px;
            color: $black;
        }

        .chart-grid {
            .domain {
                stroke-dasharray: 4 !important;
                stroke-width: 1px;
                color: $black;
                stroke: $dark;
            }
            
            .tick {
                stroke-dasharray: 2 !important;
                stroke-width: 1px;
                color: $light;
            }
        }

        .line {
            fill: none;
        }

        .dot {
            stroke: none;
            fill: transparent;

            &:hover {
                fill: $secondary;
            }

            &--active {
                fill: $primary;
            }
        }



        .bar {
            fill: $primary !important;
            // transform: translate(32px, 0);
            &:hover {
                fill: $dark !important;
            }
        }


        .tooltip {
            font-size: $xsmall;
            fill: $white;
        }

    }


    &--small {
        display: flex;
        justify-content: center;

        svg {
            height: 64px;

            .line {
                stroke-width: 8px;
            }
        }
    }
}




@media all and (max-width: $breakpoint--mobile) {}