@import '../sizes.scss';
@import '../palette.scss';
@import '../durations.scss';



.dashboard {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;

    &-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background: $dark;
        padding: $small;

        &-icon {
            display: none;
        }


        .menu-item {
            background: transparent;
            color: $white;
            font-size: $small;
            text-align: left;
            transition: all $dt-short;
            border-left: 2px solid $link;
            padding: $xsmall $small;
            margin-bottom: $xxsmall;
            
            
            &:hover {
                border-left: 2px solid $white;
                transition: all $dt-xshort;
                color: $link;
                background: transparent;
            }
            
            &--active {
                transition: all $dt-short;
                color: $link;
                padding-left: $medium;
            }
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        background: $white;
    }
}


@media all and (max-width: $breakpoint--mobile) {
    .dashboard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;

        &-menu {
            position: sticky;

            &-icon {
                display: flex;
            }
        }
    }
}