@import '../sizes.scss';
@import '../palette.scss';



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    margin: $small 0;

    .field {
        display: flex;
        justify-content: center;
        align-items: center;

        .control {

            input {
                background: $white--faded;
                border: none;
                outline: none;
                padding: $xxsmall;
                margin: 0 $xxsmall;
                color: $link;
                min-width: 200px;
                min-height: 28px;
                font-size: $small;

                &::placeholder {
                    color: $link;
                    font-family: 'Saira Condensed', sans-serif;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

@media all and (max-width: $breakpoint--mobile) {
    form {
        width: 100%;

        .field {

            .control {

                input {
                    margin: $xxsmall 2px;
                    // padding: 0;
                }
            }
        }
    }
}