@import '../sizes.scss';



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.hero {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: $xxxsmall;
    }
    
    &-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

