@import '../sizes.scss';
@import '../palette.scss';



.notifications {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // change this to set where notifications will appear
    align-items: flex-end;
    
    .notification-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .notification {
            display: flex;
            flex-direction: column;
            width: 320px;
            max-width: 90%;
            background: $white;
            margin: 8px 0;
            box-shadow: 0 0 0 1px $light;
            padding: 2px;

            &-header {
                display: flex;
                width: 100%;
                
                p {
                    padding: $xxsmall;
                    display: flex;
                    align-items: center;
                    width: 80%;
                }
                
                .notification-clear {
                    padding: $xxsmall;
                    align-self: flex-end;
                    justify-self: flex-end;
                }
            }

            &-body {
                display: flex;
                align-items: center;
                padding: $xxsmall;
                min-height: 32px;
            }
        }

    }
}