@import '../sizes.scss';
@import '../palette.scss';
@import '../durations.scss';



.toggle-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $link;
    padding: 0;
    font-size: $small;
    text-align: center;
    transition: all $dt-long;
    
    &--closed {
        transition: all $dt-long;
        color: $white;
    }
}
