.is-black {
  background: #222222;
  color: #ffffff; }

.is-dark {
  background: #222222;
  color: #ffffff; }

.is-white {
  background: #ffffff;
  color: #000000; }

.is-light {
  background: #dddddd;
  color: #000000; }

.is-link {
  background: #467EFD;
  color: #ffffff;
  transition: all 0.5s; }

.is-error {
  background: #ee2200;
  color: #ffffff; }

.is-warning {
  background: #ee6600;
  color: #ffffff; }

.is-ok {
  background: #00ee22;
  color: #ffffff; }

.is-secondary {
  background: #ffaa3b;
  color: #ffffff; }

.is-tertiary {
  background: #ff3bf2;
  color: #ffffff; }

.has-text-black {
  color: #000000 !important; }

.has-text-white {
  color: #ffffff !important; }

.has-text-dark {
  color: #222222 !important; }

.has-text-light {
  color: #dddddd !important; }

.has-text-link {
  color: #467EFD !important; }

.has-text-error {
  color: #ee2200 !important; }

.has-text-warning {
  color: #ee6600 !important; }

.has-text-ok {
  color: #00ee22 !important; }

.has-text-primary {
  color: #3B90FF !important; }

.has-text-secondary {
  color: #ffaa3b !important; }

.has-text-tertiary {
  color: #ff3bf2 !important; }

.has-background-black {
  background: #000000; }

.has-background-black--faded {
  background: rgba(0, 0, 0, 0.5); }

.has-background-white {
  background: #ffffff; }

.has-background-white--faded {
  background: rgba(255, 255, 255, 0.5); }

.has-background-dark {
  background: #222222; }

.has-background-dark--faded {
  background: rgba(34, 34, 34, 0.5); }

.has-background-light {
  background: #dddddd; }

.has-background-light--faded {
  background: rgba(221, 221, 221, 0.5); }

.has-background-link {
  background: #467EFD; }

.has-background-error {
  background: #ee2200; }

.has-background-warning {
  background: #ee6600; }

.has-background-ok {
  background: #00ee22; }

.has-background-primary {
  background: #3B90FF; }

.has-background-secondary {
  background: #ffaa3b; }

.has-background-tertiary {
  background: #ff3bf2; }

.has-stroke-primary {
  stroke: #3B90FF !important; }

.has-stroke-secondary {
  stroke: #ffaa3b !important; }

.has-stroke-tertiary {
  stroke: #ff3bf2 !important; }

.has-stroke-dark {
  stroke: #222222 !important; }

.has-stroke-black {
  stroke: #000000 !important; }

.has-stroke-light {
  stroke: #dddddd !important; }

.has-stroke-white {
  stroke: #ffffff !important; }
