.flex-center {
  justify-content: center; }

.flex-start {
  justify-content: flex-start; }

.flex-end {
  justify-content: flex-end; }

.flex-space-evenly {
  justify-content: space-evenly; }

.flex-space-around {
  justify-content: space-around; }

.flex-space-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.align-flex-start {
  align-items: flex-start; }

.align-flex-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }
