.is-bold {
  font-weight: bold; }

.has-text-xxxsmall {
  font-size: 3.2px !important; }

.has-text-xxsmall {
  font-size: 6.4px !important; }

.has-text-xsmall {
  font-size: 12.8px !important; }

.has-text-small {
  font-size: 25.6px !important; }

.has-text-medium {
  font-size: 51.2px !important; }

.has-text-large {
  font-size: 102.4px !important; }

.has-text-xlarge {
  font-size: 204.8px !important; }

.has-text-xxlarge {
  font-size: 409.6px !important; }

.has-text-xxxlarge {
  font-size: 819.2px !important; }
