.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.h-320px {
  max-height: 320px; }

.p-small {
  padding: 16px; }

.m-tb--large {
  margin: 64px 0; }

.m-lr--small {
  margin: 0 16px; }

.has-y-scrollbar {
  overflow-y: scroll; }

.is-hidden {
  display: none !important; }

@media all and (max-width: 768px) {
  .is-mobile {
    flex: 0 1 100%; }
  .is-hidden--mobile {
    display: none !important; } }

.flex-center {
  justify-content: center; }

.flex-start {
  justify-content: flex-start; }

.flex-end {
  justify-content: flex-end; }

.flex-space-evenly {
  justify-content: space-evenly; }

.flex-space-around {
  justify-content: space-around; }

.flex-space-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.align-flex-start {
  align-items: flex-start; }

.align-flex-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.is-black {
  background: #222222;
  color: #ffffff; }

.is-dark {
  background: #222222;
  color: #ffffff; }

.is-white {
  background: #ffffff;
  color: #000000; }

.is-light {
  background: #dddddd;
  color: #000000; }

.is-link {
  background: #467EFD;
  color: #ffffff;
  transition: all 0.5s; }

.is-error {
  background: #ee2200;
  color: #ffffff; }

.is-warning {
  background: #ee6600;
  color: #ffffff; }

.is-ok {
  background: #00ee22;
  color: #ffffff; }

.is-secondary {
  background: #ffaa3b;
  color: #ffffff; }

.is-tertiary {
  background: #ff3bf2;
  color: #ffffff; }

.has-text-black {
  color: #000000 !important; }

.has-text-white {
  color: #ffffff !important; }

.has-text-dark {
  color: #222222 !important; }

.has-text-light {
  color: #dddddd !important; }

.has-text-link {
  color: #467EFD !important; }

.has-text-error {
  color: #ee2200 !important; }

.has-text-warning {
  color: #ee6600 !important; }

.has-text-ok {
  color: #00ee22 !important; }

.has-text-primary {
  color: #3B90FF !important; }

.has-text-secondary {
  color: #ffaa3b !important; }

.has-text-tertiary {
  color: #ff3bf2 !important; }

.has-background-black {
  background: #000000; }

.has-background-black--faded {
  background: rgba(0, 0, 0, 0.5); }

.has-background-white {
  background: #ffffff; }

.has-background-white--faded {
  background: rgba(255, 255, 255, 0.5); }

.has-background-dark {
  background: #222222; }

.has-background-dark--faded {
  background: rgba(34, 34, 34, 0.5); }

.has-background-light {
  background: #dddddd; }

.has-background-light--faded {
  background: rgba(221, 221, 221, 0.5); }

.has-background-link {
  background: #467EFD; }

.has-background-error {
  background: #ee2200; }

.has-background-warning {
  background: #ee6600; }

.has-background-ok {
  background: #00ee22; }

.has-background-primary {
  background: #3B90FF; }

.has-background-secondary {
  background: #ffaa3b; }

.has-background-tertiary {
  background: #ff3bf2; }

.has-stroke-primary {
  stroke: #3B90FF !important; }

.has-stroke-secondary {
  stroke: #ffaa3b !important; }

.has-stroke-tertiary {
  stroke: #ff3bf2 !important; }

.has-stroke-dark {
  stroke: #222222 !important; }

.has-stroke-black {
  stroke: #000000 !important; }

.has-stroke-light {
  stroke: #dddddd !important; }

.has-stroke-white {
  stroke: #ffffff !important; }

.is-bold {
  font-weight: bold; }

.has-text-xxxsmall {
  font-size: 3.2px !important; }

.has-text-xxsmall {
  font-size: 6.4px !important; }

.has-text-xsmall {
  font-size: 12.8px !important; }

.has-text-small {
  font-size: 25.6px !important; }

.has-text-medium {
  font-size: 51.2px !important; }

.has-text-large {
  font-size: 102.4px !important; }

.has-text-xlarge {
  font-size: 204.8px !important; }

.has-text-xxlarge {
  font-size: 409.6px !important; }

.has-text-xxxlarge {
  font-size: 819.2px !important; }

.has-border-white {
  border: 2px solid #ffffff; }

.has-border-radius {
  border-radius: 8px; }

.has-box-shadow--lift:hover {
  box-shadow: 0 16px 16px -8px #222222; }

.has-box-shadow--lift:active {
  box-shadow: 0 10px 10px -5px #222222; }

.is-not-selectable {
  /* Safari */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* IE10+/Edge */
  -ms-user-select: none;
  /* Standard */
  user-select: none; }
