.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.h-320px {
  max-height: 320px; }

.p-small {
  padding: 16px; }

.m-tb--large {
  margin: 64px 0; }

.m-lr--small {
  margin: 0 16px; }

.has-y-scrollbar {
  overflow-y: scroll; }

.is-hidden {
  display: none !important; }

@media all and (max-width: 768px) {
  .is-mobile {
    flex: 0 1 100%; }
  .is-hidden--mobile {
    display: none !important; } }
