.arrow {
  width: 32px;
  height: 32px; }
  .arrow-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  .arrow-left {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  .arrow-up {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  .arrow-down {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); }
