button {
  min-width: 100px;
  padding: 4px;
  border: none;
  outline: none; }

.arrow {
  width: 32px;
  height: 32px; }
  .arrow-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  .arrow-left {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  .arrow-up {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  .arrow-down {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); }

.dot {
  max-width: 4px;
  max-height: 4px;
  border-radius: 50%;
  display: inline-block;
  padding: 1px;
  margin: 4px; }
