@import '../palette.scss';
@import '../sizes.scss';



.arrow {
    width: 32px;
    height: 32px;

    &-right {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    &-left {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    &-up {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

    &-down {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }
}