@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: initial; } }

.does-fade-in {
  animation: fadeIn 0.5s forwards; }

.does-fade-in--slow {
  animation: fadeIn 0.75s forwards; }

.does-fade-in--xslow {
  animation: fadeIn 1.5s backwards;
  animation-delay: 0.5s; }

.does-fade-in--fast {
  animation: fadeIn 0.25s forwards; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #ffffff; }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); } }

.does-pulse {
  animation: pulse 0.75s infinite alternate; }

.does-pulse--hover:hover {
  animation: pulse 0.75s infinite alternate; }
