.calendar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .calendar .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222; }
    .calendar .header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 16px; }
      .calendar .header-bar .current-month {
        display: flex;
        align-items: center;
        justify-content: center; }
        .calendar .header-bar .current-month p {
          font-size: 32px;
          color: #ffffff; }
      .calendar .header-bar .change-month {
        min-width: 32px;
        min-height: 32px;
        fill: #3B90FF;
        margin: 0 auto; }
  .calendar .days-names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #222222;
    border-bottom: 2px dashed #3c3c3c; }
    .calendar .days-names .day {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 2rem;
      padding: 16px 0;
      color: #ffffff; }
  .calendar .body {
    background: #222222;
    padding: 16px 0; }
    .calendar .body .days {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #222222; }
      .calendar .body .days .day {
        text-align: center;
        width: 100%; }
      .calendar .body .days .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        width: 64px;
        height: 64px;
        padding: 8px;
        font-size: 2rem;
        margin: 8px;
        border-radius: 50%;
        transition: all 0.25s; }
      .calendar .body .days .disabled {
        color: #3c3c3c; }
      .calendar .body .days .selected {
        box-shadow: 0 0 0 4px #3B90FF;
        color: #3B90FF;
        font-size: 3rem;
        transition: all 0.25s; }
      .calendar .body .days .current {
        box-shadow: 0 0 0 4px #ffaa3b;
        color: #ffaa3b; }

@media all and (max-width: 768px) {
  .calendar {
    width: 100%; }
    .calendar .header-bar {
      font-size: 12px; }
      .calendar .header-bar .current-month p {
        font-size: 16px; }
    .calendar .days-names .day {
      font-size: 16px; }
    .calendar .body .days .cell {
      border: none;
      font-size: 16px;
      width: 10px;
      height: 10px;
      margin: 0;
      border-radius: 50%;
      box-shadow: none; }
    .calendar .body .days .selected {
      background: #3B90FF;
      color: #ffffff; }
    .calendar .body .days .current {
      background: #ffaa3b;
      color: #ffffff; } }
