.card {
  display: flex;
  background: #222222;
  justify-items: center;
  align-items: center;
  color: #ffffff; }
  .card--horizontal {
    grid-template-rows: 1fr 1fr; }

.stripe {
  display: flex;
  background: #3c3c3c;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  color: #ffffff; }
