.chart {
  display: flex;
  justify-content: center;
  align-items: center; }
  .chart svg {
    width: 100%;
    max-width: 600px; }
    .chart svg .axis {
      color: #000000; }
    .chart svg .tick {
      stroke-width: 0px;
      color: #000000; }
    .chart svg .chart-grid .domain {
      stroke-dasharray: 4 !important;
      stroke-width: 1px;
      color: #000000;
      stroke: #222222; }
    .chart svg .chart-grid .tick {
      stroke-dasharray: 2 !important;
      stroke-width: 1px;
      color: #dddddd; }
    .chart svg .line {
      fill: none; }
    .chart svg .dot {
      stroke: none;
      fill: transparent; }
      .chart svg .dot:hover {
        fill: #ffaa3b; }
      .chart svg .dot--active {
        fill: #3B90FF; }
    .chart svg .bar {
      fill: #3B90FF !important; }
      .chart svg .bar:hover {
        fill: #222222 !important; }
    .chart svg .tooltip {
      font-size: 8px;
      fill: #ffffff; }
  .chart--small {
    display: flex;
    justify-content: center; }
    .chart--small svg {
      height: 64px; }
      .chart--small svg .line {
        stroke-width: 8px; }
