.dashboard {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%; }
  .dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #222222;
    padding: 16px; }
    .dashboard-menu-icon {
      display: none; }
    .dashboard-menu .menu-item {
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      text-align: left;
      transition: all 0.5s;
      border-left: 2px solid #467EFD;
      padding: 8px 16px;
      margin-bottom: 4px; }
      .dashboard-menu .menu-item:hover {
        border-left: 2px solid #ffffff;
        transition: all 0.25s;
        color: #467EFD;
        background: transparent; }
      .dashboard-menu .menu-item--active {
        transition: all 0.5s;
        color: #467EFD;
        padding-left: 32px; }
  .dashboard-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    background: #ffffff; }

@media all and (max-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%; }
    .dashboard-menu {
      position: sticky; }
      .dashboard-menu-icon {
        display: flex; } }
