form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  margin: 16px 0; }
  form .field {
    display: flex;
    justify-content: center;
    align-items: center; }
    form .field .control input {
      background: rgba(255, 255, 255, 0.5);
      border: none;
      outline: none;
      padding: 4px;
      margin: 0 4px;
      color: #467EFD;
      min-width: 200px;
      min-height: 28px;
      font-size: 16px; }
      form .field .control input::placeholder {
        color: #467EFD;
        font-family: 'Saira Condensed', sans-serif; }
      form .field .control input:focus {
        outline: none; }

@media all and (max-width: 768px) {
  form {
    width: 100%; }
    form .field .control input {
      margin: 4px 2px; } }
