.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }

.hero {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2px; }
  .hero-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }

.notifications {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .notifications .notification-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .notifications .notification-list .notification {
      display: flex;
      flex-direction: column;
      width: 320px;
      max-width: 90%;
      background: #ffffff;
      margin: 8px 0;
      box-shadow: 0 0 0 1px #dddddd;
      padding: 2px; }
      .notifications .notification-list .notification-header {
        display: flex;
        width: 100%; }
        .notifications .notification-list .notification-header p {
          padding: 4px;
          display: flex;
          align-items: center;
          width: 80%; }
        .notifications .notification-list .notification-header .notification-clear {
          padding: 4px;
          align-self: flex-end;
          justify-self: flex-end; }
      .notifications .notification-list .notification-body {
        display: flex;
        align-items: center;
        padding: 4px;
        min-height: 32px; }

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  min-width: 100%;
  z-index: 999;
  background: #222222; }
  nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;
    color: #ffffff;
    padding: 2px 32px; }
  nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%; }
    nav .nav-items .nav-item {
      min-width: 100px;
      padding: 8px 0;
      margin: 0 2px;
      color: #467EFD;
      text-decoration: none;
      text-align: center;
      transition: color 0.5s; }
    nav .nav-items .nav-item--active {
      transition: color 0.5s;
      color: #ffffff; }
  nav .nav-icon {
    display: none; }

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%; }
    nav .logo {
      display: none; }
    nav .nav-items {
      flex-direction: column; }
    nav .nav-icon {
      display: initial; }
      nav .nav-icon .nav-icon-bar {
        width: 32px;
        height: 4px;
        margin: 2px 0;
        background: #467EFD; } }

.dashboard {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%; }
  .dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #222222;
    padding: 16px; }
    .dashboard-menu-icon {
      display: none; }
    .dashboard-menu .menu-item {
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      text-align: left;
      transition: all 0.5s;
      border-left: 2px solid #467EFD;
      padding: 8px 16px;
      margin-bottom: 4px; }
      .dashboard-menu .menu-item:hover {
        border-left: 2px solid #ffffff;
        transition: all 0.25s;
        color: #467EFD;
        background: transparent; }
      .dashboard-menu .menu-item--active {
        transition: all 0.5s;
        color: #467EFD;
        padding-left: 32px; }
  .dashboard-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    background: #ffffff; }

@media all and (max-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%; }
    .dashboard-menu {
      position: sticky; }
      .dashboard-menu-icon {
        display: flex; } }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  margin: 16px 0; }
  form .field {
    display: flex;
    justify-content: center;
    align-items: center; }
    form .field .control input {
      background: rgba(255, 255, 255, 0.5);
      border: none;
      outline: none;
      padding: 4px;
      margin: 0 4px;
      color: #467EFD;
      min-width: 200px;
      min-height: 28px;
      font-size: 16px; }
      form .field .control input::placeholder {
        color: #467EFD;
        font-family: 'Saira Condensed', sans-serif; }
      form .field .control input:focus {
        outline: none; }

@media all and (max-width: 768px) {
  form {
    width: 100%; }
    form .field .control input {
      margin: 4px 2px; } }

.card {
  display: flex;
  background: #222222;
  justify-items: center;
  align-items: center;
  color: #ffffff; }
  .card--horizontal {
    grid-template-rows: 1fr 1fr; }

.stripe {
  display: flex;
  background: #3c3c3c;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  color: #ffffff; }

.chart {
  display: flex;
  justify-content: center;
  align-items: center; }
  .chart svg {
    width: 100%;
    max-width: 600px; }
    .chart svg .axis {
      color: #000000; }
    .chart svg .tick {
      stroke-width: 0px;
      color: #000000; }
    .chart svg .chart-grid .domain {
      stroke-dasharray: 4 !important;
      stroke-width: 1px;
      color: #000000;
      stroke: #222222; }
    .chart svg .chart-grid .tick {
      stroke-dasharray: 2 !important;
      stroke-width: 1px;
      color: #dddddd; }
    .chart svg .line {
      fill: none; }
    .chart svg .dot {
      stroke: none;
      fill: transparent; }
      .chart svg .dot:hover {
        fill: #ffaa3b; }
      .chart svg .dot--active {
        fill: #3B90FF; }
    .chart svg .bar {
      fill: #3B90FF !important; }
      .chart svg .bar:hover {
        fill: #222222 !important; }
    .chart svg .tooltip {
      font-size: 8px;
      fill: #ffffff; }
  .chart--small {
    display: flex;
    justify-content: center; }
    .chart--small svg {
      height: 64px; }
      .chart--small svg .line {
        stroke-width: 8px; }

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .calendar .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222; }
    .calendar .header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 16px; }
      .calendar .header-bar .current-month {
        display: flex;
        align-items: center;
        justify-content: center; }
        .calendar .header-bar .current-month p {
          font-size: 32px;
          color: #ffffff; }
      .calendar .header-bar .change-month {
        min-width: 32px;
        min-height: 32px;
        fill: #3B90FF;
        margin: 0 auto; }
  .calendar .days-names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #222222;
    border-bottom: 2px dashed #3c3c3c; }
    .calendar .days-names .day {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 2rem;
      padding: 16px 0;
      color: #ffffff; }
  .calendar .body {
    background: #222222;
    padding: 16px 0; }
    .calendar .body .days {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #222222; }
      .calendar .body .days .day {
        text-align: center;
        width: 100%; }
      .calendar .body .days .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        width: 64px;
        height: 64px;
        padding: 8px;
        font-size: 2rem;
        margin: 8px;
        border-radius: 50%;
        transition: all 0.25s; }
      .calendar .body .days .disabled {
        color: #3c3c3c; }
      .calendar .body .days .selected {
        box-shadow: 0 0 0 4px #3B90FF;
        color: #3B90FF;
        font-size: 3rem;
        transition: all 0.25s; }
      .calendar .body .days .current {
        box-shadow: 0 0 0 4px #ffaa3b;
        color: #ffaa3b; }

@media all and (max-width: 768px) {
  .calendar {
    width: 100%; }
    .calendar .header-bar {
      font-size: 12px; }
      .calendar .header-bar .current-month p {
        font-size: 16px; }
    .calendar .days-names .day {
      font-size: 16px; }
    .calendar .body .days .cell {
      border: none;
      font-size: 16px;
      width: 10px;
      height: 10px;
      margin: 0;
      border-radius: 50%;
      box-shadow: none; }
    .calendar .body .days .selected {
      background: #3B90FF;
      color: #ffffff; }
    .calendar .body .days .current {
      background: #ffaa3b;
      color: #ffffff; } }

.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #467EFD;
  padding: 0;
  font-size: 16px;
  text-align: center;
  transition: all 1.5s; }
  .toggle-button--closed {
    transition: all 1.5s;
    color: #ffffff; }
