.notifications {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .notifications .notification-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .notifications .notification-list .notification {
      display: flex;
      flex-direction: column;
      width: 320px;
      max-width: 90%;
      background: #ffffff;
      margin: 8px 0;
      box-shadow: 0 0 0 1px #dddddd;
      padding: 2px; }
      .notifications .notification-list .notification-header {
        display: flex;
        width: 100%; }
        .notifications .notification-list .notification-header p {
          padding: 4px;
          display: flex;
          align-items: center;
          width: 80%; }
        .notifications .notification-list .notification-header .notification-clear {
          padding: 4px;
          align-self: flex-end;
          justify-self: flex-end; }
      .notifications .notification-list .notification-body {
        display: flex;
        align-items: center;
        padding: 4px;
        min-height: 32px; }
