.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #467EFD;
  padding: 0;
  font-size: 16px;
  text-align: center;
  transition: all 1.5s; }
  .toggle-button--closed {
    transition: all 1.5s;
    color: #ffffff; }
