@import '../../sizes.scss';
@import '../../palette.scss';



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    min-width: 100%;
    z-index: 999;
    background: $dark;

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-left: $medium;
        color: $white;
        padding: $xxxsmall $medium;
    }
    
    .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .nav-item {
            min-width: 100px;
            padding: $xsmall 0;
            margin: 0 2px;
            color: $link;
            // font-weight: bold;
            text-decoration: none;
            text-align: center;
            transition: color 0.5s;
        }

        .nav-item--active {
            transition: color 0.5s;
            color: $white;
            // font-weight: initial;
        }
    }

    .nav-icon {
        display: none;
    }
}

@media (max-width: $breakpoint--mobile) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $xsmall 0;
        width: 100%;

        .logo {
            display: none;
        }

        .nav-items {
            flex-direction: column;
        }

        .nav-icon {
            display: initial;

            .nav-icon-bar {
                width: 32px;
                height: 4px;
                margin: 2px 0;
                background: $link;
            }
        }
    }
}