nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  min-width: 100%;
  z-index: 999;
  background: #222222; }
  nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;
    color: #ffffff;
    padding: 2px 32px; }
  nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%; }
    nav .nav-items .nav-item {
      min-width: 100px;
      padding: 8px 0;
      margin: 0 2px;
      color: #467EFD;
      text-decoration: none;
      text-align: center;
      transition: color 0.5s; }
    nav .nav-items .nav-item--active {
      transition: color 0.5s;
      color: #ffffff; }
  nav .nav-icon {
    display: none; }

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%; }
    nav .logo {
      display: none; }
    nav .nav-items {
      flex-direction: column; }
    nav .nav-icon {
      display: initial; }
      nav .nav-icon .nav-icon-bar {
        width: 32px;
        height: 4px;
        margin: 2px 0;
        background: #467EFD; } }
