@import url("https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.is-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.is-vertical {
  display: flex;
  flex-direction: column; }

.is-auto {
  flex-basis: auto; }

.is-full-width {
  width: 100%; }

.is-1 {
  width: 8.33333333%; }

.is-2 {
  width: 16.66666667%; }

.is-3 {
  width: 25%; }

.is-4 {
  width: 33.33333333%; }

.is-5 {
  width: 41.66666667%; }

.is-6 {
  width: 50%; }

.is-7 {
  width: 58.33333333%; }

.is-8 {
  width: 66.66666667%; }

.is-9 {
  width: 75%; }

.is-10 {
  width: 83.33333333%; }

.is-11 {
  width: 91.66666667%; }

.is-12 {
  width: 100%; }

.grid {
  display: grid; }

.grid--2-col {
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.h-320px {
  max-height: 320px; }

.p-small {
  padding: 16px; }

.m-tb--large {
  margin: 64px 0; }

.m-lr--small {
  margin: 0 16px; }

.has-y-scrollbar {
  overflow-y: scroll; }

.is-hidden {
  display: none !important; }

@media all and (max-width: 768px) {
  .is-mobile {
    flex: 0 1 100%; }
  .is-hidden--mobile {
    display: none !important; } }

.flex-center {
  justify-content: center; }

.flex-start {
  justify-content: flex-start; }

.flex-end {
  justify-content: flex-end; }

.flex-space-evenly {
  justify-content: space-evenly; }

.flex-space-around {
  justify-content: space-around; }

.flex-space-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.align-flex-start {
  align-items: flex-start; }

.align-flex-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.is-black {
  background: #222222;
  color: #ffffff; }

.is-dark {
  background: #222222;
  color: #ffffff; }

.is-white {
  background: #ffffff;
  color: #000000; }

.is-light {
  background: #dddddd;
  color: #000000; }

.is-link {
  background: #467EFD;
  color: #ffffff;
  transition: all 0.5s; }

.is-error {
  background: #ee2200;
  color: #ffffff; }

.is-warning {
  background: #ee6600;
  color: #ffffff; }

.is-ok {
  background: #00ee22;
  color: #ffffff; }

.is-secondary {
  background: #ffaa3b;
  color: #ffffff; }

.is-tertiary {
  background: #ff3bf2;
  color: #ffffff; }

.has-text-black {
  color: #000000 !important; }

.has-text-white {
  color: #ffffff !important; }

.has-text-dark {
  color: #222222 !important; }

.has-text-light {
  color: #dddddd !important; }

.has-text-link {
  color: #467EFD !important; }

.has-text-error {
  color: #ee2200 !important; }

.has-text-warning {
  color: #ee6600 !important; }

.has-text-ok {
  color: #00ee22 !important; }

.has-text-primary {
  color: #3B90FF !important; }

.has-text-secondary {
  color: #ffaa3b !important; }

.has-text-tertiary {
  color: #ff3bf2 !important; }

.has-background-black {
  background: #000000; }

.has-background-black--faded {
  background: rgba(0, 0, 0, 0.5); }

.has-background-white {
  background: #ffffff; }

.has-background-white--faded {
  background: rgba(255, 255, 255, 0.5); }

.has-background-dark {
  background: #222222; }

.has-background-dark--faded {
  background: rgba(34, 34, 34, 0.5); }

.has-background-light {
  background: #dddddd; }

.has-background-light--faded {
  background: rgba(221, 221, 221, 0.5); }

.has-background-link {
  background: #467EFD; }

.has-background-error {
  background: #ee2200; }

.has-background-warning {
  background: #ee6600; }

.has-background-ok {
  background: #00ee22; }

.has-background-primary {
  background: #3B90FF; }

.has-background-secondary {
  background: #ffaa3b; }

.has-background-tertiary {
  background: #ff3bf2; }

.has-stroke-primary {
  stroke: #3B90FF !important; }

.has-stroke-secondary {
  stroke: #ffaa3b !important; }

.has-stroke-tertiary {
  stroke: #ff3bf2 !important; }

.has-stroke-dark {
  stroke: #222222 !important; }

.has-stroke-black {
  stroke: #000000 !important; }

.has-stroke-light {
  stroke: #dddddd !important; }

.has-stroke-white {
  stroke: #ffffff !important; }

.is-bold {
  font-weight: bold; }

.has-text-xxxsmall {
  font-size: 3.2px !important; }

.has-text-xxsmall {
  font-size: 6.4px !important; }

.has-text-xsmall {
  font-size: 12.8px !important; }

.has-text-small {
  font-size: 25.6px !important; }

.has-text-medium {
  font-size: 51.2px !important; }

.has-text-large {
  font-size: 102.4px !important; }

.has-text-xlarge {
  font-size: 204.8px !important; }

.has-text-xxlarge {
  font-size: 409.6px !important; }

.has-text-xxxlarge {
  font-size: 819.2px !important; }

.has-border-white {
  border: 2px solid #ffffff; }

.has-border-radius {
  border-radius: 8px; }

.has-box-shadow--lift:hover {
  box-shadow: 0 16px 16px -8px #222222; }

.has-box-shadow--lift:active {
  box-shadow: 0 10px 10px -5px #222222; }

.is-not-selectable {
  /* Safari */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* IE10+/Edge */
  -ms-user-select: none;
  /* Standard */
  user-select: none; }

button {
  min-width: 100px;
  padding: 4px;
  border: none;
  outline: none; }

.arrow {
  width: 32px;
  height: 32px; }
  .arrow-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  .arrow-left {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
  .arrow-up {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }
  .arrow-down {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg); }

.dot {
  max-width: 4px;
  max-height: 4px;
  border-radius: 50%;
  display: inline-block;
  padding: 1px;
  margin: 4px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; }

.hero {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2px; }
  .hero-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }

.notifications {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .notifications .notification-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .notifications .notification-list .notification {
      display: flex;
      flex-direction: column;
      width: 320px;
      max-width: 90%;
      background: #ffffff;
      margin: 8px 0;
      box-shadow: 0 0 0 1px #dddddd;
      padding: 2px; }
      .notifications .notification-list .notification-header {
        display: flex;
        width: 100%; }
        .notifications .notification-list .notification-header p {
          padding: 4px;
          display: flex;
          align-items: center;
          width: 80%; }
        .notifications .notification-list .notification-header .notification-clear {
          padding: 4px;
          align-self: flex-end;
          justify-self: flex-end; }
      .notifications .notification-list .notification-body {
        display: flex;
        align-items: center;
        padding: 4px;
        min-height: 32px; }

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  min-width: 100%;
  z-index: 999;
  background: #222222; }
  nav .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;
    color: #ffffff;
    padding: 2px 32px; }
  nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%; }
    nav .nav-items .nav-item {
      min-width: 100px;
      padding: 8px 0;
      margin: 0 2px;
      color: #467EFD;
      text-decoration: none;
      text-align: center;
      transition: color 0.5s; }
    nav .nav-items .nav-item--active {
      transition: color 0.5s;
      color: #ffffff; }
  nav .nav-icon {
    display: none; }

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%; }
    nav .logo {
      display: none; }
    nav .nav-items {
      flex-direction: column; }
    nav .nav-icon {
      display: initial; }
      nav .nav-icon .nav-icon-bar {
        width: 32px;
        height: 4px;
        margin: 2px 0;
        background: #467EFD; } }

.dashboard {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%; }
  .dashboard-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #222222;
    padding: 16px; }
    .dashboard-menu-icon {
      display: none; }
    .dashboard-menu .menu-item {
      background: transparent;
      color: #ffffff;
      font-size: 16px;
      text-align: left;
      transition: all 0.5s;
      border-left: 2px solid #467EFD;
      padding: 8px 16px;
      margin-bottom: 4px; }
      .dashboard-menu .menu-item:hover {
        border-left: 2px solid #ffffff;
        transition: all 0.25s;
        color: #467EFD;
        background: transparent; }
      .dashboard-menu .menu-item--active {
        transition: all 0.5s;
        color: #467EFD;
        padding-left: 32px; }
  .dashboard-main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    background: #ffffff; }

@media all and (max-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%; }
    .dashboard-menu {
      position: sticky; }
      .dashboard-menu-icon {
        display: flex; } }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  margin: 16px 0; }
  form .field {
    display: flex;
    justify-content: center;
    align-items: center; }
    form .field .control input {
      background: rgba(255, 255, 255, 0.5);
      border: none;
      outline: none;
      padding: 4px;
      margin: 0 4px;
      color: #467EFD;
      min-width: 200px;
      min-height: 28px;
      font-size: 16px; }
      form .field .control input::placeholder {
        color: #467EFD;
        font-family: 'Saira Condensed', sans-serif; }
      form .field .control input:focus {
        outline: none; }

@media all and (max-width: 768px) {
  form {
    width: 100%; }
    form .field .control input {
      margin: 4px 2px; } }

.card {
  display: flex;
  background: #222222;
  justify-items: center;
  align-items: center;
  color: #ffffff; }
  .card--horizontal {
    grid-template-rows: 1fr 1fr; }

.stripe {
  display: flex;
  background: #3c3c3c;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  color: #ffffff; }

.chart {
  display: flex;
  justify-content: center;
  align-items: center; }
  .chart svg {
    width: 100%;
    max-width: 600px; }
    .chart svg .axis {
      color: #000000; }
    .chart svg .tick {
      stroke-width: 0px;
      color: #000000; }
    .chart svg .chart-grid .domain {
      stroke-dasharray: 4 !important;
      stroke-width: 1px;
      color: #000000;
      stroke: #222222; }
    .chart svg .chart-grid .tick {
      stroke-dasharray: 2 !important;
      stroke-width: 1px;
      color: #dddddd; }
    .chart svg .line {
      fill: none; }
    .chart svg .dot {
      stroke: none;
      fill: transparent; }
      .chart svg .dot:hover {
        fill: #ffaa3b; }
      .chart svg .dot--active {
        fill: #3B90FF; }
    .chart svg .bar {
      fill: #3B90FF !important; }
      .chart svg .bar:hover {
        fill: #222222 !important; }
    .chart svg .tooltip {
      font-size: 8px;
      fill: #ffffff; }
  .chart--small {
    display: flex;
    justify-content: center; }
    .chart--small svg {
      height: 64px; }
      .chart--small svg .line {
        stroke-width: 8px; }

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .calendar .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222; }
    .calendar .header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 16px; }
      .calendar .header-bar .current-month {
        display: flex;
        align-items: center;
        justify-content: center; }
        .calendar .header-bar .current-month p {
          font-size: 32px;
          color: #ffffff; }
      .calendar .header-bar .change-month {
        min-width: 32px;
        min-height: 32px;
        fill: #3B90FF;
        margin: 0 auto; }
  .calendar .days-names {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: #222222;
    border-bottom: 2px dashed #3c3c3c; }
    .calendar .days-names .day {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 2rem;
      padding: 16px 0;
      color: #ffffff; }
  .calendar .body {
    background: #222222;
    padding: 16px 0; }
    .calendar .body .days {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #222222; }
      .calendar .body .days .day {
        text-align: center;
        width: 100%; }
      .calendar .body .days .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff;
        width: 64px;
        height: 64px;
        padding: 8px;
        font-size: 2rem;
        margin: 8px;
        border-radius: 50%;
        transition: all 0.25s; }
      .calendar .body .days .disabled {
        color: #3c3c3c; }
      .calendar .body .days .selected {
        box-shadow: 0 0 0 4px #3B90FF;
        color: #3B90FF;
        font-size: 3rem;
        transition: all 0.25s; }
      .calendar .body .days .current {
        box-shadow: 0 0 0 4px #ffaa3b;
        color: #ffaa3b; }

@media all and (max-width: 768px) {
  .calendar {
    width: 100%; }
    .calendar .header-bar {
      font-size: 12px; }
      .calendar .header-bar .current-month p {
        font-size: 16px; }
    .calendar .days-names .day {
      font-size: 16px; }
    .calendar .body .days .cell {
      border: none;
      font-size: 16px;
      width: 10px;
      height: 10px;
      margin: 0;
      border-radius: 50%;
      box-shadow: none; }
    .calendar .body .days .selected {
      background: #3B90FF;
      color: #ffffff; }
    .calendar .body .days .current {
      background: #ffaa3b;
      color: #ffffff; } }

.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #467EFD;
  padding: 0;
  font-size: 16px;
  text-align: center;
  transition: all 1.5s; }
  .toggle-button--closed {
    transition: all 1.5s;
    color: #ffffff; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: initial; } }

.does-fade-in {
  animation: fadeIn 0.5s forwards; }

.does-fade-in--slow {
  animation: fadeIn 0.75s forwards; }

.does-fade-in--xslow {
  animation: fadeIn 1.5s backwards;
  animation-delay: 0.5s; }

.does-fade-in--fast {
  animation: fadeIn 0.25s forwards; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #ffffff; }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); } }

.does-pulse {
  animation: pulse 0.75s infinite alternate; }

.does-pulse--hover:hover {
  animation: pulse 0.75s infinite alternate; }

.subtle-prism, body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(175,663,329)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%232264fc'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1167' height='972.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.blue-pyramid {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230853ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

* {
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  height: 100%; }

body {
  width: 100%;
  height: 100%; }
  body #root {
    width: 100%;
    height: 100%; }

header {
  width: 100%; }

main {
  display: flex;
  width: 100%;
  height: 100%; }

section {
  width: 100%;
  display: flex; }

a {
  color: #467EFD;
  text-decoration: none;
  padding: 0 2px; }

hr {
  width: 75%;
  background: #dddddd;
  height: 2px;
  border: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 5000s ease-in-out 0s; }

/* width */
::-webkit-scrollbar {
  width: 4px; }

/* Track */
::-webkit-scrollbar-track {
  background: #222222; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3B90FF; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dddddd; }

@media all and (max-width: 768px) {
  main {
    display: flex;
    width: 100%;
    height: 100%; } }
